<div class="container-fluid">
<div class="row">
  <div class="col-sm">
    <h2 class="text-center">Chat de profesor</h2>
    <app-chat></app-chat>
  </div>
  <div class="col-sm">
    <h2 class="text-center">Chat de Alumno 1</h2>
    <app-chat></app-chat>
  </div>
  <div class="col-sm">
    <h2 class="text-center">Chat de Alumno 2</h2>
    <app-chat></app-chat>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <div class="row">
      <div class="col-2">
        <label for="" class=" text-center"> Quien escribe?</label>
      </div>
      <div class="col-5">
        <select class="form-control">
          <option disabled>Select Website</option>
          <option>Choose Website</option>
      </select>
      </div>
    </div>
  </div>



  <div class="col-sm">
    <div class="row">
      <div class="col-2">
        <label for="" class=" text-center"> Quien escribe?</label>
      </div>
      <div class="col-5">
        <select class="form-control">
          <option disabled>Select Website</option>
          <option>Choose Website</option>
      </select>
      </div>
    </div>
  </div>
</div>


<div class="container my-auto">
  <div class="row">
    <textarea name="" id="" cols="100" rows="5"></textarea>
  </div>
  <div class="col">
    <button class="btn btn-primary">Enviar mensaje</button>
  </div>
</div>
</div>
